$backgroundColor: #428aff;
$fontLightColor: #efefef;
$fontDarkColor: #7e7e7e;
*{
	margin:0 ;
	padding: 0;
	font-family: 'Russo One', sans-serif;;
	color: $fontDarkColor ;
}

body
{
	font-size: 16px;
}

.center
{
	width: 940px;
	margin: auto;
}

header
{
	background-color: $backgroundColor;
	text-align: center;
	margin-bottom: 50px;
	p 
	{
		color: $fontLightColor;	
		padding: 10px 0;
		font-size: 1.4em;
	}
}

main
{
	form
	{
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		.error
		{
			background-color: pink;
			color: $fontLightColor;
			max-height: 20px;
			transition: all 0.5s;
		}
		input[type=button]
		{
			width: 100%;
			height: 25px;
			border: 0;
			cursor: pointer;
			&:focus {outline:0;}
			&:hover {
				background-color: lightgray;
			};
		}

		input[type=text]
		{
			&:focus {outline:0;}
		}

		input[type=radio]
		{
			&:focus {outline:0;}
		}
		.koszt
		{
			display: flex;
			flex-direction: column;
			margin-bottom: 10px;
			max-height: 45px;
			transition: all 0.5s;
			/*opacity: 0;*/
		}

		.koszty
		{
			background-color: $backgroundColor;
			color: $fontLightColor;
			cursor: pointer;
			margin-top: 10px;
			padding: 5px;
		}
		label
		{
			max-height: 20px;
			transition: all 0.5s;
			font-size: 0.8em;
			margin-top: 5px;
		}
	}

	.result
	{
		transition: all 0.5s;
		max-height: 180px;
		overflow: hidden;
		p 
		{
			border-bottom: 1px solid gray;
			padding: 3px;

			span 
			{
				float: right;
			}
		}
		.stawkaNetto
		{
			font-size: 1.1em;
		}
	}
}

.ng-hide
{
	max-height: 0px !important;
	opacity: 0 !important;
}

@media screen and (max-width: 960px)
{
	main
	{
		width: 100%;
	}
}