<!DOCTYPE html>
<html ng-app='git'>
<head>
	<meta charset ="utf-8">
	<!-- build:css css/style.css -->
	<link rel="stylesheet" href="css/style.css">
	<!-- endbuild -->
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
</head>
<body>
<header class='center'>
	<p>KALKULATOR BRUTTO-NETTO</p>
</header>
<main class='center' ng-controller='bruttoNetto'>
	<form  onsubmit="return false">	
		<input type="text" ng-model='brutto' placeholder="PODAJ PENSJĘ BRUTTO" ng-keyup='getNetto($event)'>
		<p class="error ng-anim" ng-show='showError'>Musisz podać liczbę nieujemną.</p>
		<p class='koszty' ng-click='showCost = !showCost'>WYBIERZ KOSZT UZYSKANIA PRZYCHODU</p>
		<div class="koszt ng-anim" ng-show='showCost'>
			<label><input type="radio" name='costs' ng-model='miejscowy' value='miejscowy' checked>
				PRACOWNIK MIEJSCOWY
			</label>
			<label ><input type="radio" name='costs' ng-model='miejscowy' value = 'zamiejscowy'>
				PRACOWNIK DOJEŻDŻAJĄCY
			</label>
		</div>
		<input type="button" ng-click='getNetto(); showEmployerResult = false' value="OBLICZ">
	</form>
	<div class="result" ng-show='showResult'>
		<p>Stawka brutto<span>{{brutto}} zł</span></p>
		<p>Zaliczka podatku dochodowego <span>-{{result.podatekDochodowy}} zł</span></p>
		<p>Ubezpieczenie zdrowotne <span>-{{result.skladkaZdrowotna}} zł</span></p>
		<p>Ubezpieczenie emerytalne <span>-{{result.skladkaEmerytalna}} zł</span></p>
		<p>Ubezpieczenie chorobowe <span>-{{result.skladkaChorobowa}} zł</span></p>
		<p>Składka rentowa <span>-{{result.skladkaRentowa}} zł</span></p>
		<p  class='stawkaNetto'>Stawka netto <span>{{result.netto}} zł</span></p>
	</div>
	<input type="button" value='POKAŻ KOSZTY PRACODAWCY' ng-click='getEmployerCosts(); showEmployerResult = true' ng-show='showResult'>
	<div class="employerResult">
		<div class="employerCosts ng-anim" ng-show='showEmployerResult'>
			<div class="wypadkowe ng-anim" ng-click='showWypadkowe = !showWypadkowe'>ZMIEŃ STAWKĘ UBEZPIECZENIA WYPADKOWEGO</div>
			<label class='ng-anim' ng-show='showWypadkowe'>Ubezpieczenie wypadkowe: <input type="text" ng-model='wypadkowe'>%</label>
			<p class="error ng-anim" ng-show='showWypadkoweError'>Musisz podać liczbę nieujemną.</p>
			<div class="resultEmployer">
				<p>Stawka brutto<span>{{brutto}}</span></p>
				<p>Ubezpieczenie emerytalne<span>{{employerResult.ubezpieczenieEmerytalne}}</span></p>
				<p>Ubezpieczenie rentowe<span>{{employerResult.ubezpieczenieRentowe}}</span></p>
				<p>Ubezpieczenie wypadkowe<span>{{employerResult.ubezpieczenieWypadkowe}}</span></p>
				<p>Składka na fundusz pracy<span>{{employerResult.skladkaFunduszPracy}}</span></p>
				<p>Składka na FGŚP<span>{{employerResult.skladkaFGSP}}</span></p>
				<p class='totalCost'>Całkowity koszt pracodawcy<span>{{employerResult.laczneKoszty}}</span></p>
			</div>
		</div>
	</div>
</main>
	
</body>
<script type="text/javascript" src="js/angular.min.js"> </script>
<script type="text/javascript" src="js/angular-animate.min.js"> </script>
<!-- build:js js/app.js -->
<script type="text/javascript" src="js/app.js"> </script>
<script type="text/javascript" src="js/route.js"> </script>
<script type="text/javascript" src="js/services.js"> </script>
<script type="text/javascript" src="js/controllers.js"> </script>
<script type="text/javascript" src="js/directives.js"> </script>
<!-- endbuild -->
</html>